body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "header header" "aside main"; 
}

header{
    grid-area: header;
    background: #22242a;
}

aside{
    grid-area: aside;
    background: #2f323a;
}

main{
    grid-area: main;
    background: #dfdfe1;
}

@media screen and (max-width: 768px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "header" "aside";
    }
    main{
        grid-area: aside;
    }
}